@import url();

:root {
    --base-clr: #11121a;
    --text-clr: #e6e6ef;
    --line-clr: #e6e6ef;
    --secondary-text-clr: #dbdbee;
    --accent-clr: #9090ec;
    --hover-clr: #454547;
    --message-clr: #4d4dfc;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Poppins, 'Segoe UI';
    line-height: 1.5rem;
}

body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-rows: auto auto 1fr;
    margin-top: 10px;
}

#main-div {
    display: grid;
    height: 100%;
    grid-template-columns: auto 1fr;
}

main {
    height: 90vh;
    padding: min(30px, 7%);
    gap: 20px;
}

#sidebar {
    box-sizing: border-box;
    height: 100%;
    width: 250px;
    padding: 5px 1em;
    background-color: var(--base-clr);
    border-right: 1px solid var(--line-clr);

    position: sticky;
    top: 0;
    align-self: start;
    transition: 300ms ease-in-out;
    overflow: hidden;
}

#sidebar.close {
    padding: 5px;
    width: 60px;
}

#sidebar ul{
    list-style: none;
}

#sidebar > ul > li:first-child{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;

    .logo{
        font-weight: 600;
    }
}

#sidebar ul li.active a {
    color: var(--accent-clr);
}

#sidebar a, #sidebar .logo{
    display: flex;
    align-items: center;
    border-radius: .5em;
    padding: .85em;
    text-decoration: none;
    color: var(--text-clr);
    gap: 1em;
}

#sidebar svg {
    flex-shrink: 0;
    fill: var(--text-clr);
}

#sidebar a span{
    flex-grow: 1;
}

#sidebar a:hover {
    background-color: var(--hover-clr);
}

#toggle-btn {
    margin-left: auto;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    background: none;
    cursor: pointer;

    svg {
        transition: rotate 150ms ease;
        transform: rotate(0deg);
    }
}

#toggle-btn.rotate svg {
    transform: rotate(180deg);
}

#toggle-btn:hover{
    background-color: var(--hover-clr);
}

main p {
    color: var(--secondary-text-clr);
    margin-top: 5px;
    margin-bottom: 15px;
}

.container {
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    margin-bottom: 10px;
    padding: 1em;
    overflow-y: scroll;
    height: 70vh;
    box-sizing: border-box;
    h2, p {margin-top: 1em;}
}

.user {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
    flex-grow: 1;
    margin-bottom: 10px;
}

h5 {
    font-size: 20px;
} 

.user svg {
    border: 1px solid var(--line-clr);
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    height: auto;
}


.sender {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-items: center;
    flex-grow: 1;
}

.sender-message {
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    padding: 10px;
    margin-bottom: 2px;
    border-bottom-left-radius: 0;
    width: 60%;
}

@media (min-width: 1000px){
    .sender-message {
        width: 80%;
    }
}

.receiver {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
    align-items: center;
    justify-items: center;
    flex-grow: 1;
}

.receiver-message {
    border: 1px solid var(--line-clr);
    border-radius: 1em;
    padding: 10px;
    margin-bottom: 2px;
    border-bottom-right-radius: 0;
    background: var(--message-clr);
    width: 60%;
}

@media (min-width: 1000px){
    .receiver-message {
        width: 80%;
    }
}

.message-box {
    display: flex;
}

.message-input {
    width: 95%;
    border: 1px solid var(--line-clr);
    background: none;
    border-radius: 3em;
    padding: 1em;
    color: var(--text-clr);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.message-button {
    border: 1px solid var(--line-clr);
    background: none;
    border-radius: 3em;
    font-weight: bolder;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: var(--message-clr);
    padding: 0 10px;
    cursor: pointer;
    font-size: medium;
}
